footer a {
    color:$textPrimaryColor;
    cursor: pointer;
}
.email a {
    color: $boderColor;
    font-weight: bolder;
    transition: 0.6s;
    &:hover {
        font-size: 1.4rem;
        color: lighten($color:$boderColor, $amount: 8);
        text-decoration: underline;
    }
}
.footerText{
    background-color:$darkestWhite;
    padding: 4rem 0;
    text-align: center;
}
.devicon-linkedin-plain {
    display: inline-block;
}
.socialMedia {
    ul {
        display: flex;
        justify-content: center;
        li {
            padding: 1rem;
            i {
                font-size: 1.3rem;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: $boderColor;
                color: $primaryColor;
                padding-top:6px;
                transition: 0.5s;
                &:hover {
                    font-size: 1.5rem;
                    background: lighten($color:$boderColor, $amount: 8);
                }
            }
        }
    }
}
.copyWrite {
    text-align:start;
    background-color:$primaryColor;
    padding: 3rem;
    position: relative;
    bottom: 3rem;
    .goUp {
        text-align: center;
        font-size: 2rem;
        a {
            transition: 0.3s;
            &:hover {
                font-size: 3rem;
                color:$boderColor;
            }
        }
    }
    p {
        font-size: 0.8rem;
    }
}
