html {
    font-size: 125%; // 20px
}
body {
    background-color: $primaryColor;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.2px;
}
.wrapper {
    max-width: 1200px;
    width: 90%;
    margin:0 auto;
}
h1,
h2,
h3,
p,
ul {
    margin: 0;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    display: block;
}
