header {
    background-image: url("../assets/backgroundImg.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.hamburgerMenu {
    display: none;
}
// .display {
//     display: block;
// }
.burgerMenu {
    flex-direction: column;
    position: absolute;
    top:4rem;
    right: 10px;
    font-size:0.9rem;
    background:$darkestWhite;
}

.mainNav, 
.mainNav ul {
    display: flex;
}
.mainNav {
    justify-content: space-between;
    padding: 30px;
    background-color:$primaryColor ;
    text-transform: uppercase;
    font-family: $robotoFont;
}
.mainNav ul li a {
    padding:1rem;
    color:#333;
    transition: 0.3s;
    &:hover {
        background:$lightestWhite ;
        text-decoration: underline;
    }
}
.headerContent {
    text-align: center;
    margin-top: 7rem;
}
.logo {
    font-family: $petitFormalFont;
    text-transform: capitalize;
    transition: 0.5s;
    &:hover {
        font-size: 1.2rem;
        transform: rotate(-3deg);
    }
    a {
        color:#333;
    }
}
h1 {
    letter-spacing: 2px;
    line-height: 2.5rem;
    margin-bottom: 2.5rem;
    font-size: 3.7rem;
}
.goBottom {
    background-color:$primaryColor;
    position:absolute;
    bottom:80px;
    left: 50%;
    text-align: center;
    font-size: 2rem;
    background: transparent;
    a {
        color:$textPrimaryColor;
        transition: 0.3s;
        &:hover {
            font-size: 3rem;
            color:$boderColor;
        }
    }
}