.goBottom {
    background-color:$primaryColor;
    position: relative;
    bottom: 100px;
    padding-top: 5rem;
    text-align: center;
    font-size: 2rem;
}
// /////////////////////////////
// .aboutSection {
//     background-color:$lightWhite;
//     margin:4rem 0;
//     padding: 5rem 0;
// }
.aboutMe {
    display: flex;
}
.aboutMePicture {
    width: 100%;
}
////////////////////////////////
.skillsSection {
    text-align: center;
    margin:40px 0;
    padding: 30px 0;
    background-color:$lightWhite;
}
.skillsSection ul {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:0 auto;
    
    li {
        padding: 20px 50px;
        i {
            font-size: 5rem;
        }
    }
}
.firebaseIcon {
    width:5rem;
}
///////
.firstProject {
    display: flex;
}
.computerBackground {
    width: 40%;
    
}
//////////////
.projects {
    background-color:$lightWhite;
    padding: 4rem 0;
} 
.projects h2 {
    text-align: center;
    padding: 2rem 0;
}

