.nonDisplayed {
    display: none;
}
h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
    font-weight: lighter;
}


// /////////////////////////////
.aboutMeSection {
    padding: 4rem 0 6rem 0;
    background-color: $lightestWhite;
    h2 {
        text-align: center;
        padding: 2rem;
        margin-bottom:2rem;
    }
}
.aboutMe {
    position: relative;
    display: flex;
}
.aboutMeDescription {
    background-color: $primaryColor;
    margin-top: 3rem;
    font-size: 0.9rem;
    position: relative;
    right: 4rem;
    //width: max-content;
    height: 540px;
    h4 {
        font-size: 2.5rem;
        margin: 0 0 1rem 0;
        padding: 2.5rem 0  1.5rem  2.5rem;
        font-weight: lighter;
    }
    p {
        padding: 0px 0px 1rem 2.5rem;
        width: 90%;
    }
}
.aboutMeDescription span {
    border-bottom:2px solid $boderColor;
    padding-bottom: 0.5rem;
}
.aboutMeDescription button {
    @include buttons;
    position: absolute;
    right: 2.5rem;
    a {
        color:$primaryColor;
        transition: 0.5s;
        &:hover {
            color:$textPrimaryColor;
        }
    }
}
////////////////////////////////
.skillsSection {
    text-align: center;
    margin:8rem 0;
    padding: 6rem 0 6rem 0;
    background-color:$lightWhite;
    box-shadow: 25px 25px $boderColor;
}
.skillsSection ul {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:0 auto;
    font-weight: bold;
    
    li {
        padding: 1rem 2.5rem;
        a {
            color: black;
        }
        i {
            font-size: 5rem;
            transition: 0.5s;
            &:hover {
                box-shadow: 0 7px 7px rgba(0, 0, 0, 0.6);
            }
        }
    }
}
.firebaseIcon {
    width:5rem;
    filter: brightness(0%);
    transition: 0.5s;
    &:hover {
        box-shadow: 0 7px 7px rgba(0, 0, 0, 0.6);
    }
}
.devicon-git-plain.colored {
    color:black;
}
///////

.projects {
    background-color:$lightWhite;
    padding: 4rem 0;
    h2 {
        text-align: center;
        padding: 2rem 0;
        margin-bottom:1.5rem;
    }
    h3 {
        font-size: 2rem;
        margin:1.5rem 0;
        font-weight: lighter;
    }
    button {
        @include buttons;
        margin-right: 1.5rem;
        a {
            color:$primaryColor;
            transition: 0.5s;
            &:hover {
                color:$textPrimaryColor;
            }
        }
    }
} 
.portfolio  {
    display: flex;
    justify-content: space-between;
}
.skills {
    font-size: 1rem;
    border-top:2px solid $boderColor;
    border-bottom: 2px solid $boderColor;
}
.appDescription {
    margin:0.5rem 0 2rem 0;
}
.computerBackground {
    width: 40%;
    img {
        border-radius: 4px;
    }
}
.giftShopProject,
.matchUpProject {
    margin: 3rem 0;
}




