@media(max-width:1150px) {
    .aboutMeDescription {
        margin-top: 0rem;
        right: 0rem;
        height: 58vh;
    }
    .projects h3 {
        margin-top:0;
    }
    .desktopDisplayedImg {
        display: none;
    }
    .nonDisplayed {
        display: block;
    }
    .computerBackground {
        margin-right: 2rem;
    }
}

@media(max-width:1112px) {
    .aboutMe {
        display: block;
        .aboutMeImgContainer {
            width: 60%;
            margin: 0 auto;
        }
    }
    .aboutMeDescription {
        background-color: $lightestWhite;
        margin-top:2rem;
        height: 100vh;
        p {
            width: 80%;
        }
        a {
            display: inline-block;
            position: relative;
            margin-left: 5rem;
            margin-top: 1rem;
        }
    }
    .skillsSection ul {
        width: 75%;
    }
    
}
@media(max-width:890px) {
    body {
        font-size: 0.9rem;
    }
    h1 {
        font-size:2.7rem ;
    }
    h2 {
        font-size:2.2rem ;
    }
    .projects h3,
    .aboutMeDescription h4 {
        font-size:1.6rem ;
    }
    .skillsSection {
        width: 95%;
        //box-shadow: none;
        // border: 1px solid $boderColor;
        ul {
            li {
                padding: 1rem 1.5rem;
                i {
                    font-size:4.5rem ;
                }
            }
        }
    }
    .firebaseIcon {
        width: 4.5rem;
    }
    .aboutMeDescription p {
        width:100%;
        padding-left: 0.5rem;
    }
    .portfolio {
        flex-direction: column;
        .computerBackground {
            width: 55%;
            margin:0 auto;
            margin-bottom: 1rem;
        }
        .projectInfoContainer {
            margin:0 auto;
            text-align: center;
        }
    }
}

@media(max-width:700px) {
    .skillsSection ul {
        width: 95%;
    }
    .mainNav {
        flex-direction: column;
        .logo {
            font-size:1.6rem ;
            text-align: center;
            margin-bottom: 1rem;
        }
        ul {
            justify-content: center;
            flex-wrap: wrap;
        }
        .computerBackground {
            width: 50%;
        }
    }
    .copyWrite p {
        text-align: center;
        margin-top: 2rem;
    }
    
}
@media(max-width:530px) {
    .mainNav  {
        flex-direction: row;
        background: transparent;
        padding-bottom: 0;
        ul {
            display: none;
        }
        .logo {
            text-align: start;
            font-size: 0.9rem;
        }
    }
    .headerContent {
        margin-top: 4rem;
        h1 {
            font-size: 2.3rem;
        }
    }
    .mainNav ul  {
        padding: 10px 15px;
        li {
            a {
                padding: 10px;
                font-size: 0.8rem;
            }
        }
    }
    .hamburgerMenu {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        margin-right: 1rem;
    }
    .aboutMe {
        .aboutMeImgContainer {
            width:75%;
        }
    }
    .skillsSection {
        ul {
            width: 100%;
            li {
                i {
                    font-size: 3rem;
                }
            }
        }
    }
    .firebaseIcon {
        width: 3rem;
    }
    .projects {
        .anchorLinks  {
            a {
                display: block;
                margin: 1rem auto;
            }
        }
    }
}
@media(max-width:430px)  {
    h1 {
        font-size:2rem ;
    }
    h2 {
        font-size:1.8rem ;
    }
    .aboutMeSection {
        padding-bottom: 10rem;
        .aboutMeDescription a {
            width: 78%;
            margin-top: 1rem;
            margin-left:4rem;
            text-align: center;
        }
    }
    .skillsSection {
        ul {
            flex-direction: column;
            width: 100%;
            li {
                i {
                    font-size: 6rem;
                }
            }
        }
    }
    .firebaseIcon {
        width: 6rem;
        margin: 0 auto;
    }
    
}