@media(max-width:1150px) {
    header {
        height: 60vh;
    }
    
    .aboutMeDescription {
        margin-top: 0rem;
        right: 0rem;
        height: 58vh;
    }
    .projects h3 {
        margin-top:0;
    }
    .destopDisplayedImg {
        display: none;
    }
    .nonDisplayed {
        display: block;
    }
    .computerBackground {
        margin-right: 2rem;
    }
}

@media(max-width:1112px) {
    .aboutMe {
        display: block;
        .aboutMeImgContainer {
            width: 60%;
            margin: 0 auto;
        }
    }
    .aboutMeDescription {
        background-color: $lightestWhite;
        margin-top:2rem;
        p {
            width: 80%;
        }
        button {
            position: relative;
            margin-left: 5rem;
            margin-top: 1rem;
        }
    }
    .skillsSection ul {
        width: 75%;
    }
}
@media(max-width:890px) {

}