@mixin buttons {
    font-family: $robotoFont;
    padding: 0.6rem 1rem;
    border: none;
    color: $primaryColor;
    background-color: #222222;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
    &:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
        background-color:#f7f7f7;
        color:#222222;
    }
}
