@mixin buttons {
    font-family: $robotoFont;
    border: none;
    color: $primaryColor;
    background-color: $boderColor;
    padding: 15px 40px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
    &:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
        background-color: $primaryColor;
        color:$textPrimaryColor;
    }
}
