// Colours
$primaryColor:#ffffff;
$lightestWhite:#f6f6f6;
$lightWhite:#ececec;
$darkWhite:#e1e1e1;
$darkestWhite:#d0d0d0;

$boderColor:#fb5858;


// Fonts
$josefinFont:'Josefin Sans', sans-serif;
$garamondFont: 'EB Garamond', serif;
$petitFormalFont: 'Petit Formal Script', cursive;
$robotoFont:'Roboto', sans-serif;